[MASTER]
ignore = .venv, alembic, .github
disable= C0114, C0115, C0116, W0611, W1203, W0718, W0105

[BASIC]
min-public-methods=0

[FORMAT]
max-line-length = 120

[REPORTS]
output-format = colorized

[TYPECHECK]
generated-members = func.*

[REFACTORING]
min-similarity-lines = 8

[DESIGN]
max-locals=40
max-statements=60
max-branches=30